<% title 'Выборка' %>
<p><%= link_to "Сохранённые выборки", samples_path %> | <%= link_to "Новая выборка", new_sample_path %></p>

<%= semantic_form_for @sample do |f| %>
  <%= render 'form', :f => f  %>
<% end %>

<% if @data %>
  <table class="table">
    <tr>
      <% @data.header.each do |cell| %>
        <th><%= cell.value %></th>
      <% end %>
    </tr>
    <% @data.rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%=h cell.value %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p>Вероятность ошибочного отказа от приёмки пригодной партии продукции: <%= format_decimal(@sample.false_rejection, 3) %></p>
  <p>Вероятность ошибочной приёмки непригодной партии продукции: <%= format_decimal(@sample.false_acceptance, 3) %></p>
<% end %>
