<% title "Сохранённые выборки" %>

<table class="table">
  <tr>
    <th>N</th>
    <th>C</th>
    <th>P1</th>
    <th>P2</th>
    <th>Step</th>
    <th>Aql</th>
    <th>Ltpd</th>
    <th></th>
  </tr>
  <% for sample in @samples %>
    <tr>
      <td><%= sample.n %></td>
      <td><%= sample.c %></td>
      <td><%= sample.p1 %></td>
      <td><%= sample.p2 %></td>
      <td><%= sample.step %></td>
      <td><%= sample.aql %></td>
      <td><%= sample.ltpd %></td>
      <td class="actions">
        <%= link_to "Подробнее", edit_sample_path(sample) %>
        <%= link_to "Удалить", sample, :confirm => 'Уверены?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Новая выборка", new_sample_path %></p>
