<% title "Sample" %>

<p>
  <strong>N:</strong>
  <%= @sample.n %>
</p>
<p>
  <strong>C:</strong>
  <%= @sample.c %>
</p>
<p>
  <strong>P1:</strong>
  <%= @sample.p1 %>
</p>
<p>
  <strong>P2:</strong>
  <%= @sample.p2 %>
</p>
<p>
  <strong>Step:</strong>
  <%= @sample.step %>
</p>
<p>
  <strong>Aql:</strong>
  <%= @sample.aql %>
</p>
<p>
  <strong>Ltpd:</strong>
  <%= @sample.ltpd %>
</p>

<p>
  <%= link_to "Edit", edit_sample_path(@sample) %> |
  <%= link_to "Destroy", @sample, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", samples_path %>
</p>
